/venv/
/.idea/.gitignore
/.idea/BrandonDev.iml
/.idea/misc.xml
/.idea/modules.xml
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/inspectionProfiles/Project_Default.xml
/.idea/vcs.xml
/.idea/copyright/Peter_Private_Copyright.xml
/.idea/copyright/profiles_settings.xml
